.card {
  max-width: 350px;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

.card-container {
  min-width: 300px;
  transition: all 0.3s ease;
  &:hover {
    scale: 1.05;
  }
}
