.card {
  max-width: 350px;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

@media screen and (max-width: 500px) {
  .card {
    scale: 0.8;
  }
  .card-container {
    padding: 0;
  }
  
}

.card-container {
  min-width: 300px;
  transition: all 0.3s ease;
  &:hover {
    scale: 1.05;
  }
}
