@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.alert {
  position: fixed;
  bottom: 5%;
  left: 10%;
  right: 10%;
  margin: auto;
  max-width: 780px;
  z-index: 1;
}