#spotify-embed,
#spotify-embed-iframe {
  position: relative;
  z-index: 50;
  margin: auto;
  z-index: 2;
}

#spotify-embed {
  opacity: 1;
  transition: all .5s ease-in-out;
  height: 0px;
}

#spotify-embed-iframe {
  width: 100%;
}
