#meta-table {
  width: 100%;
}

#meta-table tr {
  height: 50px;
  padding: 10px 0;
}

#meta-table tr.expandable-row td {
  padding: 10px 0;
  transition: padding .5s ease-in-out;
}

#meta-table tr td:nth-child(1) {
  width: 25%;
  min-width: 125px;
  padding: 0px 10px 0px 10px;
}

#meta-table tr td:nth-child(3) {
  text-align: center;
  width: 15%;
  padding: 0 10px;
}

.alt-row {
  font-size: 14px;
}